@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Droid+Sans:400,700);

$font-family-sans-serif: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-default-bg: #348EDA;
$navbar-default-link-color: #ffffff;
$navbar-default-link-hover-color: #ffffff;
$jumbotron-bg: #348EDA;
$jumbotron-color: #ffffff;
$btn-default-color: #555555;
$btn-primary-bg: #348EDA;
$btn-primary-border: #ffffff;

@import 'bootstrap';

body {
	background: #ECEEF3;
}

.navbar {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	padding: 15px 0;
}

.navbar-brand {
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 35px;
}

.navbar-nav > li > a {
	font-weight: 700;
}

.center {
	text-align: center;
}

h1 {
	color: #2c3e50;
}

h2 {
	font-size: 30px;
	color: #7f8c8d;
}

h3 {
	color :#7f8c8d;
}

h4 {
	font-size: 20px;
	line-height: 25px;
}

h5 {
	font-size: 14px;
	color: #95a5a6;
	text-transform: uppercase;
}

.home-buttons {
	margin: 40px 0 0;
}

.btn-header {
	border: 1px solid #ffffff;
	border-radius: 15px;
}

.jumbotron {
	min-height: 400px;
	margin: 0;
}

.home-pane {
	padding: 40px 0;
}

.pane-white {
	background: #ffffff;
}

.pane-gray {
	background: #F4F5F9;
	-moz-box-shadow:    0px 0px 5px 0px #dadada;
	-webkit-box-shadow: 0px 0px 5px 0px #dadada;
	box-shadow:         0px 0px 5px 0px #dadada;
	
}

footer {
	background: #348EDA;
	min-height: 200px;
}

.top-down {
	margin: 50px auto 0;
}

.alert {
	margin: 0;
	border-radius: 0;
}

.white {
	background: #ffffff;
	-moz-box-shadow:    0px 0px 5px 0px #dadada;
	-webkit-box-shadow: 0px 0px 5px 0px #dadada;
	box-shadow:         0px 0px 5px 0px #dadada;
}

#sidebar {
	background: #fdfdfe;
	border-right: 1px solid #dadada;
	padding: 25px 25px;
	color: #2c3e50;
}

#sidebar-nav {
	list-style-type: none;
	padding: 0;
	margin: 0 0 50px;
}

#sidebar-nav li {
	margin: 25px 0 0;
}

#main {
	padding: 0 0 0 25px;
}

#sidebar-users {
	list-style-type: none;
	padding: 0;
	margin: 0 0 50px
}

#sidebar-users li {
	margin: 25px 0 0;
}