<div class="container white">
	<div id="sidebar" class="col-md-3">	
		<h5>Our House</h5>
		<ul id="sidebar-nav">
			<li><span class="glyphicon glyphicon-credit-card"></span> Rent & Bills</li>
			<li><span class="glyphicon glyphicon-tasks"></span> To-Do Lists</li>
			<li><span class="glyphicon glyphicon-comment"></span> Messages</li>
			<li><span class="glyphicon glyphicon-shopping-cart"></span> Groceries</li>
		</ul>
	</div>
	<div id="main" class="col-md-9">
		<h1><%= current_user.house.name %> Dashboard</h1>
	</div>
</div>