<div class="container">
	<div class="col-md-6 col-md-offset-3 center">
	    <h1>Welcome, Ruumie!</h1>
	    <p>It looks like you aren't a member of a house yet...</p>
	    <%= link_to "We're New Here, I Want To Set Up A New House", new_house_path, class: "btn btn-primary btn-lg btn-block" %>
	    <%= link_to "I Want To Join A House My Roommate Already Set Up", "#", class: "btn btn-success btn-block btn-lg" %>
	</div>
</div>