<div id="sidebar" class="col-md-3">	
	<h5>Our House</h5>
	<ul id="sidebar-nav">
		<li><%= link_to dashboard_path do%><span class="glyphicon glyphicon-home"></span> Dashboard<% end %></li>
		<li><%= link_to bills_path do %><span class="glyphicon glyphicon-credit-card"></span> Rent & Bills<% end %></li>
		<li><span class="glyphicon glyphicon-list"></span> To-Do Lists</li>
		<li><span class="glyphicon glyphicon-comment"></span> Messages</li>
		<li><span class="glyphicon glyphicon-shopping-cart"></span> Groceries</li>
	</ul>
	<h5>House Members</h5>
	<ul id="sidebar-users">
	<% @house.users.each do |user| %>
		<li><span class="glyphicon glyphicon-user"></span> <%= user.name %></li>
	<% end %>
	</ul>

	<h5>More?</h5>
</div>